* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  margin: 0 auto;
  width: 550px;
  text-align: center;
  font-family: "Inter", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1a1a1a url(images/THJJRUhNlEc.png) center/cover no-repeat;
  height: 208px;
  width: 100%;
  position: relative;
}
h1,
h4 {
  font-weight: 800;
  color: white;
  padding: 0 40px;
}

h1 {
  font-size: 2.6em;
}

h4 {
  font-size: 0.8em;
}

#message h3 {
  font-size: 1.125em;
  margin-top: 13em;
}
a {
  text-decoration: none;
  color: white;
}

.input {
  display: inline-block;
  text-align: center;

  border-radius: 7px;
  width: 468px;
}
#searchBar {
  background: #fff;
  width: 20em;
}

#inputField {
  background-color: #fff;
  width: 462px;
  display: flex;
  border: #d1d5db 1px solid;
  border-radius: 7px;
  text-align: center;
  justify-content: space-between;
  position: absolute;
  z-index: 3;
  margin-top: -2.5em;

  margin-left: auto;
}
input {
  border: none;
  height: 38px;
  background-color: #fff;
}

#searchBtn {
  display: block;
  background-color: #fff;
  border-left: #5d4d5a solid 1px;
  border-right: none;
  border-top: none;
  border-bottom: none;
  height: 38px;
  border-radius: 7px;
  border: none;
  text-align: center;
  padding-left: 1em;
}
#addBtn {
  border: none;
  background-color: #fff;
  margin-left: 0px;
}

img {
  width: 99px;
  height: 147.41px;
  object-fit: fill;
  margin-bottom: 1.3125em;
  margin-top: 1.1325em;
}
hr {
  margin: 0;
}

#diapositive {
  text-align: center;
}
h3 {
  margin-top: 0;
  color: #dfdddd;
  font-weight: 700;
}

#diapositive img {
  margin-right: 0;
  margin-top: 12em;
  margin: 12em 0 0 0;
}

#movieDetail {
  display: flex;
  margin-top: 0;
}

#movieInfo {
  display: flex;
  margin-top: 2em;
  flex-direction: column;
}

#line1,
#line2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  line-height: 1.4em;
}

#line3 {
  text-align: left;
  line-height: 1.4em;

  color: #6b7280;
  font-size: 0.875em;
  line-height: 1.4em;
  height: 3.75em;
  margin-top: 0;
  height: 3.75em;
}

#line3 p {
  height: 60px;
  /* text-overflow: ellipsis; */
}

#list {
  display: flex;
}

/* ¨Typography */

h2 {
  font-size: 1.125em;
  line-height: 1.25em;
  margin-bottom: 0;
  font-weight: 500;
  margin-right: 0.5em;
}
#line1 h2 {
  line-height: 1.4em;
  margin-top: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.fa-star {
  color: #fec654;
}

#line1 p,
#line2 p {
  font-size: 0.75em;
}

#line2 p {
  margin-right: 1.875em;
}
i {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

#line1,
#line2,
#line3 {
  margin-left: 1.5em;
}

.infoLine2 {
  margin: 11px 19px 8px 0;
  color: #111827;
}
#empty a {
  color: #000000;
}
#empty h3 {
  line-height: 1.78em;
}
#empty {
  margin-top: 11.3em;
  font-size: 0.875em;
  font-weight: 700;
}
